.navbar {
  transition: background-color 0.3s ease-in-out;

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .nav-link {
    color: var(--bs-secondary);
  }

  .navbar-logo {
    height: 40px; /* Adjust as needed */
    width: auto;
  }

  .btn-primary {
    border-radius: 50rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23F4E9D8' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.navbar-scrolled {
  background-color: var(--bs-body-bg);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);

  .nav-link {
    color: var(--bs-body-color);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
