.navbar {
  transition: background-color 0.5s ease-in-out;

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .nav-item {
    margin-right: 1rem; // Add margin between nav items
    &:last-child {
      margin-right: 0; // No margin for the last item
    }
  }

  .nav-link {
    color: var(--bs-secondary);
    padding: 0.5rem 1rem; // Add padding to make them look like tabs
    border-bottom: 2px solid transparent; // Subtle border for tab effect
    transition: all 0.3s ease-in-out; // Smooth transition for hover and active states
    cursor: pointer; // Ensure hand cursor on hover

    &:hover {
      border-color: var(--bs-secondary); // Highlight on hover
    }
  }

  .navbar-logo {
    height: 40px; /* Adjust as needed */
    width: auto;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23F4E9D8' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3csvg%3e");
  }
}

.navbar-scrolled {
  background-color: var(--bs-body-bg);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);

  .nav-link {
    color: var(--bs-body-color);
    &:hover {
      border-color: var(--bs-secondary); // Highlight on hover
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse .navbar-nav {
    width: 100%; // Ensure it takes full width
  }
  .navbar-collapse .nav-item {
    text-align: right; // Align the content of the nav-item to the right
    margin-right: 0; // Remove margin on mobile for stacked items
    margin-bottom: 0.5rem; // Add some vertical spacing
  }
}
