.navbar {
  transition: background-color 0.3s ease-in-out;

  .nav-link {
    color: var(--bs-secondary);
  }

  .navbar-logo {
    height: 40px; /* Adjust as needed */
    width: auto;
  }

  .btn-primary {
    border-radius: 50rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.navbar-scrolled {
  background-color: var(--bs-body-bg);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);

  .nav-link {
    color: var(--bs-body-color);
  }
}
