.lead-form-section {
  background-color: var(--bs-primary);
  color: var(--bs-secondary);

  .form-control {
    background-color: rgba(var(--bs-secondary-rgb), 0.1);
    border-color: rgba(var(--bs-secondary-rgb), 0.2);
    color: var(--bs-secondary);

    &::placeholder {
      color: rgba(var(--bs-secondary-rgb), 0.7);
    }
  }

  h2, p {
    color: var(--bs-secondary);
  }
}
