.problem-section {
  background-color: var(--bs-body-bg);
}

.card {
  border: 1px solid #eee;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
