.footer-section {
  background-color: var(--bs-primary);
  color: var(--bs-secondary);

  a {
    color: var(--bs-secondary);
    transition: opacity 0.3s ease-in-out;
  }

  a:hover {
    opacity: 0.8;
  }
}
