<section id="services" class="services-section py-5">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col-lg-8 mx-auto">
        <h2 class="display-5">What "Fully Settled" Looks Like</h2>
        <p class="lead text-muted">We offer a comprehensive suite of services to make your new house a home, instantly.
        </p>
      </div>
    </div>
    <div #carouselContainer appCarousel [items]="services" (slideChange)="adjustCarouselHeight()" #carouselDir="appCarousel"
      [class.slide-next]="carouselDir.slideDirection === 'next'"
      [class.slide-prev]="carouselDir.slideDirection === 'prev'"
      class="services-carousel-container">
      @for (service of services; track service; let i = $index) {
        <div #carouselCard class="service-carousel-card"
          [class.active]="i === carouselDir.currentIndex" [class.leaving]="carouselDir.isLeaving(i)">
          <div class="row g-0 h-100 overflow-hidden">
            <div class="col-md-6 d-flex align-items-center justify-content-center p-0" [class.order-md-2]="i % 2 !== 0">
              <img [src]="service.image" [alt]="service.title" class="card-img-left">
            </div>
            <div class="col-md-6 d-flex flex-column p-4" [class.order-md-1]="i % 2 !== 0">
              <h3 class="h4 mt-3 mt-lg-0">
                {{ service.title }}
              </h3>
              <p class="text-muted">{{ service.description }}</p>
            </div>
          </div>
        </div>
      }
    </div>

    <div class="carousel-indicators mt-4 d-flex justify-content-center gap-2">
      @for (service of services; track service; let i = $index) {
        <button type="button" [class.active]="i === carouselDir.currentIndex"
        (click)="carouselDir.goToSlide(i)" aria-label="Slide {{ i + 1 }}" class="carousel-indicator-dot"></button>
      }
    </div>
  </div>
</section>