/* You can add global styles to this file, and also import other style files */

:root {
  --bs-primary: #174D3B;
  --bs-primary-rgb: 23, 77, 59;

  --bs-secondary: #F4E9D8;
  --bs-secondary-rgb: 244, 233, 216;

  --bs-body-color: #333333;
  --bs-body-color-rgb: 51, 51, 51;
  --bs-body-bg: #ffffff;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #123A2D; /* Darker shade of green for hover */
    --bs-btn-hover-border-color: #123A2D;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0E2B21; /* Even darker shade for active */
    --bs-btn-active-border-color: #0E2B21;

    --bs-btn-disabled-bg: #4D7A6B; /* Lighter shade for disabled */
    --bs-btn-disabled-border-color: #4D7A6B;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

#lead-form {
  scroll-margin-top: 4rem; /* Adjust based on your fixed header's height */
}

.scroll-animation {
  opacity: 0;
  transform: translate3d(0, 200px, 0); /* Using translate3d for potentially better performance/rendering */
  transition: opacity 2s ease-out, transform 2s ease-out;
  display: block; /* Ensure the element is treated as a block for correct transform application */
}

.scroll-animation.in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.themed-icon {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: var(--bs-primary);
  color: var(--bs-secondary);
  display: inline-flex; /* Use inline-flex to keep it in line with text but allow flex properties */
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; /* Adjust font size as needed */
}

.card {
  border: 1px solid #eee;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.carousel-indicators {
  .carousel-indicator-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(var(--bs-primary-rgb), 0.5); // Semi-transparent primary color
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0; /* Remove default padding */
    line-height: 1; /* Ensure line-height doesn't affect height */

    &.active {
      background-color: var(--bs-primary); // Solid primary color when active
    }
  }
}
