/* You can add global styles to this file, and also import other style files */

:root {
  --bs-primary: #FF6300;
  --bs-primary-rgb: 255, 99, 0;

  --bs-secondary: #5C88DA;
  --bs-secondary-rgb: 92, 136, 218;

  --bs-body-color: #333333;
  --bs-body-bg: #ffffff;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E65A00;
    --bs-btn-hover-border-color: #E65A00;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #CC5200;
    --bs-btn-active-border-color: #CC5200;

    --bs-btn-disabled-bg: #FF944D;
    --bs-btn-disabled-border-color: #FF944D;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}.scroll-animation {
  opacity: 0;
  transform: translate3d(0, 200px, 0); /* Using translate3d for potentially better performance/rendering */
  transition: opacity 2s ease-out, transform 2s ease-out;
  display: block; /* Ensure the element is treated as a block for correct transform application */
}

.scroll-animation.in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
